<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
    <!-- Basic need -->
    <title>Movie Time</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/plugins.js"></script>
    <!--<script src="js/plugins2.js"></script>-->
    <script src="/static/js/custom.js"></script>
    <script>
        window.onload = function () {
            document.getElementById("preloader").focus();
        }
    </script>
</head>

<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="/static/images/logo1.png" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->

    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                
                <div><h5 style="color: white;">Movie Recommendation System</h5></div>
                <div class="navbar-header logo">
                    
                    <a href="/"><img class="logo" src="/static/images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                movies<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a href="upcoming">Upcoming Movies</a></li>
                                <li><a href="popular">Popular Movies</a></li>
                                <li><a href="toprated">Top Rated Movies</a></li>
                                <li><a href="trending">Trending Movies</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                                            
                        <li><a href="landing">Landing</a></li>
                        <li><a href="404error">404 Page</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!-- top search form -->
            <!-- User Input Search Bar -->
            <form action="/" method="POST" class="top-search">
                <input type="string" class="form-control" placeholder="Ex: Life of Pi, Twilight, Iron man, Avatar"
                    id="search" name="search" required>
                <button width="30px" type="submit" name="submit" id="button" class="btn btn-danger"></button>
            </form>

        </div>
    </header>
    <!-- END | Header -->

    {% block body %}

{% endblock body %}

    <!-- footer section-->
    <footer class="ht-footer full-width-ft">
        <div class="container">
            <div class="flex-parent-ft">
                <div>
                    <a href="/"><img width="30%" class="logo" src="/static/images/logo1.png" alt=""></a>
                    <div><h4 style="color: white;">Movie Time</h4></div>
                    <div><h6 style="color: white;">Movie Recommendation System</h6></div>
                </div>
            </div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p><a target="_blank" href="#">Saurabh Bisht</a></p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->
</body>
</html>